#root, .navigation {
    background: no-repeat url("/pexels-felix-mittermeier-956999.jpg")
}

a {
    text-decoration: none #FFFFFF;
    color: lightblue
}

/* .homeText {
    text-align: center;
} */

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}